{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{# =================  controller home créer à conserver ou effacer!!! ======================  #}

{% block body %}

    <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ab.</p>

{% endblock %}
