
 .photoModal{
    height: auto; 
    width: 100%;
} 

/* .modal .modal-dialog {
    max-width: 70%; } */

    .form-control-sm{
        height: 34px !important;
        font-size: 13px !important;
        width: 100% !important;
      }


.modalArticles{
 margin: 0px;
} 

.card-body{
font-size: 12px;

@media(min-width:300px) {
    
    font-size: 14px !important;
    
}

@media(min-width:450px) {
    font-size: 16px !important;
}

@media(min-width:700px) {
    font-size:17px !important;
}

}
