
.texteHome{
    font-size: 13px !important;
    padding: 10px;


@media(min-width:300px) {
    
    font-size: 15px !important;
    
}

@media(min-width:450px) {
    font-size: 17px !important;
}

@media(min-width:700px) {
    font-size:20px !important;
}
@media(min-width:991px){
    font-size: 22px !important;;
}
}


@media (max-width:991px){
    .fbcenter{
    display:flex;
    justify-content:center;
        }
    
}




.b-shadow{
    box-shadow: 5px 5px 10px rgb(40, 36, 80);
    border-radius: 0.5rem;
  
}


.b-shadowLight{
    border: 0 5px 5px 5px solid white;
    border-radius: 0.5rem;
  
}
.b-shadowBlue{
    box-shadow: 0 5px 5px 5px solid rgb(127, 135, 243) !important;
    border-radius: 0.5rem;
  
}

.b-shadowNews{
    border-radius: 0.5rem;
  
}

ul.dropdown-menu{
    background-color: rgb(40, 36, 80);
    border-radius: 0.5em;
    border: solid white 1px;

}
