{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}

<div class="container">
<h1 class="text-center rouge my-5 bleuTitre">Mentions légales et conditions d'utilisation</h1>

<h3 class="mt-4">Identification et publication</h3> <br>
Ce site est publié par l'association Les volants berquinois. <br><br>

<strong>Directeur de la publication :</strong>  Delannoy Laurent <br><br>

<h3>Hébergeur</h3>
Ce site a été réalisé par Yann Devriere (développeur). Le service est hébergé via un serveur mutualialisé par l'entreprise OVH. <br><br>

<h3>Propriété intellectuelle</h3>
La charte graphique est basé sur un template "constra" et a été adaptée par Yann Devriere. <br>

Toute la structure et, plus généralement, les différents contenus du site sont protégés par le droit d'auteur et le droit des dessins et modèles. <br>

Toute personne qui recueille ou télécharge du contenu ou des informations diffusées sur le site ne dispose sur ceux-ci que d’un droit d’usage privé, personnel et non transmissible. <br>

La reproduction d’une page du site dans un cadre extérieur ou l’insertion d’une page appartenant à www.les-volants-berquinois.fr dans la page d’un autre site est interdite. <br>
De même, toute reproduction ou représentation du site en partie ou en totalité est interdite sans l'accord écrit de l'association Les volants berquinois et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle. <br>

Les textes, graphismes, dessins, logos et photos qui sont diffusés peuvent faire l'objet d'une reproduction sur un support papier ou un support électronique, sous réserve de citer le nom et l'adresse du site et de ne pas en faire une utilisation commerciale.
Le non-respect des dispositions ci-dessus est susceptible de constituer une contrefaçon engageant la responsabilité civile ou pénale de l'auteur de la contrefaçon. <br><br>

<h3>Collecte et utilisation des données à caractère personnel</h3>
La collecte des données à caractère personnel pour les prestations proposées par le site www.les-volants-berquinois.fr ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application. <br>

La collecte des données à caractère personnel concernant les utilisateurs du site a pour finalités principales l’identification des utilisateurs pour la fourniture des services proposés sur le site. <br>

Les données récoltées ne sont jamais transmis à des tiers. <br>

En application de la loi, toute personne ayant transmis des données à caractère personnel dispose d’un droit d’accès, de rectification et de suppression des données ainsi que d’un droit d’opposition au traitement des données à caractère personnel la concernant. <br>
A tout moment, vous pouvez demander à exercer ce droit en contactant www.les-volants-berquinois.fr. <br>

Les visiteurs du site sont informés que pour les besoins de la navigation sur le site www.les-volants-berquinois.fr,  Les volants berquinois peut avoir recours à la collecte automatique de certaines informations relatives aux utilisateurs à l'aide des cookies. Si l'utilisateur du site ne souhaite pas l’utilisation de cookies par Les volants berquinois, il peut refuser l’activation des cookies par le biais des options proposés par son navigateur internet. Pour des raisons techniques, si l'utilisateur désactive les cookies dans son navigateur, certaines prestations proposées sur le site pourront ne pas lui être accessibles. <br><br>


<p class ="mt-5">Mentions légales créées le 12 mai 2022.</p>

</div>
{% endblock %}
