{% extends 'base.html.twig' %}

{% block title %}Galerie photos
{% endblock %}

{% block body %}

	{% for message in app.flashes('danger') %}
		<div class="flash-notice">
			<div class="alert alert-warning alert-dismissible fade show h5" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{% endfor %}

	<div class="d-flex justify-content-center">
		<div>
			<h2 class="bleuTitre my-4">Galerie photos</h2>
		</div>
	</div>


	<div class="container mx-auto mb-4 d-flex justify-content-center ">
		<div class="row mx-0 ">
			{% set index = 0 %}
			{% set index = index - 1 %}
			{% for album in albums %}
				{% set index = index + 1 %}
				{% set image = photos[index] %}

				<div class="col-md-6 row mx-0">
					<div class="col-1"></div>
					<a href="{{path('galerie_album',{'id':album.id})}}" class="col-10">
					{# <div class="col-10"> #}
						<div class="shopy">
							
								<div class="shopy-img">
									<img src="galerie/{{image}}" alt="">
								</div>
								<div class="shopy-body ">
									<h2>
										{{album.nom}}</h2>
								</div>
							
						</div>
					{# </div> #}
					</a>
					<div class="col-1"></div>


				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}
