{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{% if notification %}
<div class="alert alert-danger">{{notification}}</div>

{% endif %}
    <div class="container ">
        <h1 class="h3 mb-3 font-weight-normal text-center dore mt-5 ">Inscrivez-vous</h1>
        <div class="col-sm-6 mx-auto text-light">
            {{form(form)}} 
        </div>     
    </div>

{% endblock %}
